@model PSTU_Automation1.Models.Enroll_Course

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Enroll_Course</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InstructorName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InstructorName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourseTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourseTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourseCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourseCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourseCradit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourseCradit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Department)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="EnrolId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
